@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './react-big-calendar.css';

body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Work Sans', Calibri, sans-serif;
  font-weight: 600;
}

h2 {
  font-family: 'Work Sans', Calibri, sans-serif;
  font-weight: 500;
}

h3 {
  font-family: 'Work Sans', Calibri, sans-serif;
  font-weight: 500;
}

h4 {
  font-family: 'Work Sans', Calibri, sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Work Sans', Calibri, sans-serif;
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-1k3ka93 {
  overflow: hidden!important;
}

.nav-item {
  /* color: #272727; */
  filter: drop-shadow(0 2px 2px rgba(0,0,0,0.2));
}

.nav-item:hover {
  /* color: #272727; */
  transition: filter 0.2s;
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.2));
}

/* height="100%" backgroundColor="#171A1F" paddingTop="2vh" paddingBottom="2vh" */
.sidebar {
  height: 100%;
  /* background-color: #eee; */
  box-shadow: inset -1px -1px 10px -1px rgba(0,0,0,0.1);
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.nav-box {
  height: 3.5vw;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.active {
  width: 100%;
  border-left: 5px solid #008aff;
}

.rbc-event {
  font-size: 0.5;
}

.winner {
  background: rgb(0,138,255);
  background: linear-gradient(173deg, rgba(0,138,255,1) 0%, rgba(85,175,251,1) 100%)!important;
  color: white;
}



.bg-blob-1 {
  position: absolute;
  z-index: 0;
  animation: hover 10s infinite ease-in-out reverse;
  overflow: hidden;
}

.bg-blob-2 {
  position: absolute;
  z-index: 0;
  animation: hover 5s infinite ease-in-out;
  overflow: hidden;
}

@keyframes hover {
  0% {
    transform: translateY(-20px) translateX(-5px);
  }
  50% {
    transform: translateY(10px) translateX(-15px);
  }
  100% {
    transform: translateY(-20px) translateX(-5px);
  }
}

@media only screen and (min-width: 1280px) {
  .bg-blob-1 {
    bottom: 0%;
    left: -20%;
  }

  .bg-blob-2 {
    top: -25%;
    right: -10%;
  }

  .login-input {
    min-width: 400px;
    width: 20vw;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .bg-blob-1 {
    display: none;
  }

  .bg-blob-2 {
    top: -25%;
    right: -10%;
    height: 50vw;
  }

  .login-input {
    min-width: 400px;
    width: 20vw;
  }
}

@media only screen and (max-width: 768px) {
  .bg-blob-1 {
    display: none;
  }

  .bg-blob-2 {
    display: none;
  }

  .login-input {
    width: auto;
  }

  .login-box {
    padding: 10px;
    width: 80vw;
  }

  .login-subheader {
    max-width: 80vw;
    text-align: center;
  }

  .nav-box {
    width: 100%;
    min-width: 200px;
  }

}

.avatar {
  border-radius: 50%;
  filter: drop-shadow(0 2px 2px rgba(0,0,0,0.2));
}

.avatar:hover {
  border-radius: 50%;
  transition: filter 0.2s;
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.2));
}


input.form-control {

  -webkit-appearance: none;
  background: var(--bb-palette-white, #ffffff);
  color: var(--bb-palette-text, #000000);
  height: 2.75em;
  width: 100%;
  -webkit-transition: box-shadow 0.1s ease-in-out 0s,border-color 0.1s,background-color 0.1s;
  transition: box-shadow 0.1s ease-in-out 0s,border-color 0.1s,background-color 0.1s;
  border: 1px solid var(--bb-palette-white900, #000000);
  border-radius: 6px;
  padding: 0.4em 0.8em;
  position: unset;
  font: unset;
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

datalist {
  background-color: #ffffff;
  border-radius: 6px;
}